<html layout:decorate="~{layout}">
	<div class="container" layout:fragment="content">
			<div class="row">
				<div class="col">
					<div class="jumbotron">
						<h1>로그인</h1>
						</div>	
					</div>
				</div>
			
			<div class="row">
				<div class="col">
				<form th:method="post" th:action="@{/user/login}">
					<div th:if="${param.error}">
						<div class="alert alert-danger">사용자 이메일 또는 비밀번호를 확인해주세요.</div>
					</div>
				  <div class="form-group">
				    <label for="username">사용자 이메일</label>
				    <input type="text" class="form-control" name="username" id="username">
				  </div>
				  <div class="form-group">
				    <label for="password">비밀번호</label>
				    <input type="password" class="form-control" name="password" id="password">
				  </div>
								  
				  <button type="submit" class="btn btn-primary">로그인</button>
				</form>
				</div>
			</div>
		</div>
</html>