<html layout:decorate="~{layout}">

<div class="container" layout:fragment="content">
	<div class="row">
		<div class="col">
			<div class="jumbotron">
				<h1>질문 목록</h1>
			</div>
			<a th:href="@{/question/create}" class="btn btn-success my-3">질문 등록하기</a>
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">번호</th>
						<th scope="col">제목</th>
						<th scope="col">작성일자</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="question, loop : ${paging}">
						<td>[[${loop.count}]]</td>
						<td>
							<a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}">db에 있는
								제목</a>
						</td>
						<td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td>
					</tr>
				</tbody>
			</table>
			<!-- 페이징 처리시작-->
			
				<nav aria-label="Page navigation example" th:if="${!paging.isEmpty()}">
				        <ul class="pagination justify-content-center">
				            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled' : ''">
				                <a class="page-link" th:href="@{|?page=${paging.number-1}|}">Previous</a>
				            </li>
				            
				            <li class="page-item" th:classappend="${paging.number==page} ? 'active' : ''" th:each="page : ${#numbers.sequence(0, paging.totalPages-1)}" th:if="${page>=paging.number-2 and page<=paging.number+2}">
				                <a class="page-link" th:href="@{|?page=${page}|}" th:text="${page}">0</a>
				            </li>
				            
				            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled' : ''">
				                <a class="page-link" th:href="@{|?page=${paging.number+1}|}">Next</a>
				            </li>
				        </ul>
				    </nav>
			
		</div>
	</div>

</html>